.autotools
.cproject
.project
.settings/
*.in
*.m4
config.log
configure
config.status
autom4te.cache/
libTest/Makefile.in
libTest/.libs/
libTest/*.lo
libTest/*.o
libmem/Makefile.in
libmem/.libs/
libmem/*.la
libmem/*.o
libmem/*.lo
include/*.in
ltmain.sh
missing
INSTALL
compile
config.guess
config.sub
depcomp
install-sh
